{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Proyecto de Física</title>
    <link rel="stylesheet" href="{% static 'aplicacion_fisica/css/estilo.css' %}">
</head>
<body>
    <h1>Proyecto de Física</h1>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Inicio</a></li>
            <li><a href="{% url 'movimiento_circular' %}">Movimiento Circular</a></li>
            <li><a href="{% url 'fuerza' %}">Fuerza</a></li>
            <li><a href="{% url 'leyes_newton' %}">Leyes de Newton</a></li>
        </ul>
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
