{% extends 'aplicacion_fisica/index.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>inicio</title>
  <style>
    body {
        margin: 10px;
      }
  </style>
</head>
<body>
    <h1>CORPORACIÓN TECNOLÓGICA INDUSTRIAL COLOMBIANA (TEINCO)</h1>

    <h2>PROGRAMA EDUCATIVO</h2>
    <p>INGENIERÍA DE SISTEMAS</p>

    <h2>ASIGNATURA</h2>
    <p>FÍSICA GENERAL</p>

    <h2>DOCENTE</h2>
    <p>ALIRIO PARDO</p>

    <h2>ESTUDIANTES</h2>
    <ul>
        <li>MARTIN PIZA</li>
        <li>OSCAR GOMEZ</li>
        <li>BRAYAN DIAZ</li>
        <li>DANIEL DIAZ</li>
    </ul>
</body>
</html>

{% endblock %}