{% extends 'aplicacion_fisica/index.html' %}

{% block content %}
  <!DOCTYPE html>
  <html lang="es">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>inicio</title>
      <style>
        body {
            margin: 10px;
          }
      </style>
    </head>
    <body>
      <div class="contenedor">
        <h1 class="sombreado">CORPORACIÓN TECNOLÓGICA INDUSTRIAL COLOMBIANA (TEINCO)</h1>
        <h2 class="text-primary">PROGRAMA EDUCATIVO</h2>
        <p>INGENIERÍA DE SISTEMAS</p>
        <hr />
        <h2 class="mt-4 text-primary">ASIGNATURA</h2>
        <p>FÍSICA GENERAL</p>
        <hr />
        <h2 class="mt-4 text-primary">DOCENTE</h2>
        <p>ALIRIO PARDO</p>
        <hr />
        <div>
          <h2 class="mt-4 text-primary">INTEGRANTES</h2>
          <ul class="integrantes">
            <li>MARTIN PIZA</li>
            <li>OSCAR GOMEZ</li>
            <li>BRAYAN DIAZ</li>
            <li>DANIEL DIAZ</li>
          </ul>
        </div>
      </div>
    </body>
  </html>
{% endblock %}
